[{:timestamp 1674392970304, :e "dreamt they did one more episode of Firefly, and I was in it"} {:timestamp 1674403204658, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"}]