[{:timestamp 1674447060316, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"} {:timestamp 1674447095149, :entry "visited by the tooth fairy, except he was a balding 45-year-old man with a potbelly from Brooklyn"}]